<div class="flex-none">
<p>Can you guess someone's nationality just by looking at their face?</p><br/>
<p>After moving to Germany, I was often confused by people speaking to me in Turkish and people from Norway telling me how "southern Europeans" behave. If a Turkish man mistakes me for one of them, how can a Norwegian tell if I'm Italian or French?</p><br/>
<p>The absurdity of these preconceptions became more and more clear to me while cleaning the data for this website. There were people from what is today Azerbaijan with Russian passports. People who were born in countries that don't exist anymore and have been since assimilated into another name. When developing the border graph, I had to grapple with questions such as "whose land is this? Should I call it France or Saint Martin? and if so, does X actually border with France even if Paris is thousands of kilometers away?". The absurdity of the process shows the absurdity of attaching so much emotion to a nation's name.</p><br/>
<p>My hope is that this little game will make you more aware of your biases and preconceptions and enable you to move past them.</p>
</div>
